<h2>Página Principal</h2>
<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog Node JS</h1>
  <p class="lead">Blog desenvolvido com Node.Js + Handlebars + MongoDb</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
</div>