.nav{
    height: 60px;
    background-color: #111D30;
}
.nav-components a{
    margin-left: 9px;
    padding: 5px 10px 5px 10px;
    color: #f5f5f5;
    font-size:17px;
}

.nav-components a:hover{
    color: #f5f5f5;
    text-decoration: underline;
}