.nav{
    height: 60px;
    background-color: #111D30;
}
.nav-components a{
    margin-left: 8px;
    padding: 5px 8px 5px 8px;
    color: #f5f5f5;
    font-size: 18px;
    /* font-family: 'Roboto', sans-serif; */
}

.nav-components a:hover{
    color: #f5f5f5;
    text-decoration: underline;
}

.nav-logo{
    font-style: inherit;
    font-size: 20px;
}

.barra{
    border-left: 2px solid #f5f5f5;
    height: 40px;
    margin-right: 10px;
}


/* Estilo Jumbotron */
.main-jumbotron{
    margin: 0 6rem 0 6rem;
}

.main-jumbotron a{
    background-color: #3E6BB3;
    color: #f5f5f5
}

.main-jumbotron a:hover{
    color: #f5f5f5;
    background-color: rgb(52, 89, 150);
}

/* Estilo header geral dos paineis */
.header-paineil{
    background-color: #425066;
    height: 50px;
}

.inner-header-paineil{
    width: 100%;
    margin-left: 20px;
}

.inner-header-paineil li{
    color: #f5f5f5;
    display: inline-block;
    margin-top: 15px;
    vertical-align: center;   
}

.cliente{
    position: absolute;
    left: 140px; 
}

.status{
    position: absolute;
    left: 240px; 
}

.ordem{
    position: absolute;
    left: 340px; 
}

.deletar{
    position: absolute;
    right: 40px;
}

.editar{
    position: absolute;
    right: 140px; 
}

.qr-code{
    position: absolute;
    right: 220px; 
}

.desc{
    position: absolute;
    right: 340px;
}

.npedido{
    position: absolute;
    left: 520px; 
}

/* Estilo corpo dos paineis */
.painel-body h5{
    display: inline-block;
    margin-right: 190px
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
